[Unit]
Description=Starling Integrity folder preprocessor
After=network.target

[Service]
User=root
Restart=always
Type=simple
WorkingDirectory=/root/integrity-preprocessor/folder
ExecStart=python3 main.py

[Install]
WantedBy=multi-user.target