[Unit]
Description=Starling Integrity http preprocessor
After=network.target

[Service]
User=root
Restart=always
Type=simple
WorkingDirectory=/root/integrity-preprocessor
ExecStart=python3 http/main.py

[Install]
WantedBy=multi-user.target