---
version: "2"
services:
  dropbox:
    restart: unless-stopped
    build: "."
    container_name: dropbox
    volumes:
      - /mnt/integrity_store/store/dropbox:/home/dropbox-user

    logging:
        driver: loki
        options:
          loki-url: https://{{loki_username}}:{{loki_password}}@{{loki_url}}
          loki-external-labels: job=docker,hostname={{ inventory_hostname }}  