# Env Settings (for local Docker Deployment)

MONGO_HOST=mongo
PASSWORD_SECRET={{ browsertrix_internal_password }}

MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD={{ browsertrix_internal_password }}

MINIO_ROOT_USER=ADMIN
MINIO_ROOT_PASSWORD={{ browsertrix_minio_password }}

SUPERUSER_EMAIL={{ browsertrix_admin_email }}

# if blank, a password is generated automatically
SUPERUSER_PASSWORD={{ browsertrix_admin_password }}

STORE_ENDPOINT_URL=http://minio:9000/test-bucket/
STORE_ACCESS_ENDPOINT_URL=https://{{ inventory_hostname }}/minio/test-bucket/
STORE_ACCESS_KEY=ADMIN
STORE_SECRET_KEY={{ browsertrix_internal_password }}

MC_HOST_local=http://ADMIN:{{ browsertrix_internal_password }}@minio:9000

REDIS_URL=redis://redis/0
{% if browsertrix_email_login is defined %}
# enable to send verification emails
EMAIL_SMTP_HOST={{ browsertrix_email_smtp | default("smtp.gmail.com") }}
EMAIL_SMTP_PORT=587
EMAIL_SENDER={{ browsertrix_email_login }}
EMAIL_PASSWORD={{ browsertrix_email_password }}
{% endif %}

# Browsertrix Crawler image to use
CRAWLER_IMAGE=webrecorder/browsertrix-crawler

CRAWL_ARGS="--timeout 90 --logging stats,behaviors,debug --generateWACZ --workers 2 --screencastPort 9037 {% if browsertrix_profile_file is defined %} --profile http://minio:9000/test-bucket/profile.tar.gz {% endif %}"

REGISTRATION_ENABLED=1

# number of workers to run for backend
WEB_CONCURRENCY=4

JWT_TOKEN_LIFETIME_MINUTES=60

# auth sign -- uncomment to enable signing
WACZ_SIGN_URL="http://authsign:8080/sign"

# optional token for signing (useful if using remote signing server)
{% if authsign_token is defined %}
WACZ_SIGN_TOKEN="{{ authsign_token }}"
{% endif %}