version: '3.5'

services:
  backend:
    image: webrecorder/browsertrix-backend:latest
    #@{{browsertrix_docker["backend"]}}
    logging:
        driver: loki
        options:
          loki-url: https://{{loki_username}}:{{loki_password}}@{{loki_url}}
          loki-external-labels: job=docker,hostname={{ inventory_hostname }}  


  frontend:
    image: webrecorder/browsertrix-frontend:latest
    #@{{browsertrix_docker["frontend"]}}
    logging:
        driver: loki
        options:
          loki-url: https://{{loki_username}}:{{loki_password}}@{{loki_url}}
          loki-external-labels: job=docker,hostname={{ inventory_hostname }}      

  redis:
    image: redis@{{browsertrix_docker["redis"]}}
    logging:
        driver: loki
        options:
          loki-url: https://{{loki_username}}:{{loki_password}}@{{loki_url}}
          loki-external-labels: job=docker,hostname={{ inventory_hostname }}      

  mongo:
    image: mongo@{{browsertrix_docker["mongo"]}}
    logging:
        driver: loki
        options:
          loki-url: https://{{loki_username}}:{{loki_password}}@{{loki_url}}
          loki-external-labels: job=docker,hostname={{ inventory_hostname }}      

  minio:
    image: minio/minio@{{browsertrix_docker["minio"]}}
    logging:
        driver: loki
        options:
          loki-url: https://{{loki_username}}:{{loki_password}}@{{loki_url}}
          loki-external-labels: job=docker,hostname={{ inventory_hostname }}      
   
  init_minio_bucket:
    image: minio/mc@{{browsertrix_docker["init_minio_bucket"]}}
    logging:
        driver: loki
        options:
          loki-url: https://{{loki_username}}:{{loki_password}}@{{loki_url}}
          loki-external-labels: job=docker,hostname={{ inventory_hostname }}      

  authsign:
    image: webrecorder/authsign:0.4.0
    logging:
        driver: loki
        options:
          loki-url: https://{{loki_username}}:{{loki_password}}@{{loki_url}}
          loki-external-labels: job=docker,hostname={{ inventory_hostname }}  
    image: webrecorder/authsign:0.4.0
    
