version: '3.5'

services:
  backend:
    logging:
        driver: loki
        options:
          loki-url: https://{{loki_username}}:{{loki_password}}@{{loki_url}}
          loki-external-labels: job=docker,hostname={{ inventory_hostname }}  


  frontend:
    logging:
        driver: loki
        options:
          loki-url: https://{{loki_username}}:{{loki_password}}@{{loki_url}}
          loki-external-labels: job=docker,hostname={{ inventory_hostname }}      

  redis:
    logging:
        driver: loki
        options:
          loki-url: https://{{loki_username}}:{{loki_password}}@{{loki_url}}
          loki-external-labels: job=docker,hostname={{ inventory_hostname }}      

  mongo:
    logging:
        driver: loki
        options:
          loki-url: https://{{loki_username}}:{{loki_password}}@{{loki_url}}
          loki-external-labels: job=docker,hostname={{ inventory_hostname }}      

  minio:
    logging:
        driver: loki
        options:
          loki-url: https://{{loki_username}}:{{loki_password}}@{{loki_url}}
          loki-external-labels: job=docker,hostname={{ inventory_hostname }}      
   
  init_minio_bucket:
    logging:
        driver: loki
        options:
          loki-url: https://{{loki_username}}:{{loki_password}}@{{loki_url}}
          loki-external-labels: job=docker,hostname={{ inventory_hostname }}      

  authsign:
    logging:
        driver: loki
        options:
          loki-url: https://{{loki_username}}:{{loki_password}}@{{loki_url}}
          loki-external-labels: job=docker,hostname={{ inventory_hostname }}  
    image: webrecorder/authsign:0.4.0
    
