---
- name: Install git
  apt:
    name:
      - git
      - python3
      - python3-pip      

- name: Install pipenv python package
  pip:
    name:
      - pipenv
      - opentimestamps-client

- name: Create starling group
  group:
    name: starling

- name: Create starling user
  user:
    name: starling
    state: present
    comment: starling User
    createhome: yes
    groups: starling
    shell: /bin/bash
    user: "{{ starling_uid }}"
    group: "{{ starling_gid }}"

- name: Create starling config folder
  file:
    path: /home/starling/.integrity/
    state: directory
    owner: starling
    group: starling
    mode: "0770"
    

- name: Create integrity data folder
  file:
    path: "{{ integrity_data_path }}"
    state: directory
    owner: starling
    group: starling
    mode: 0775
    recurse: yes

# ISCN Server for Likecoin
- name: Clone ISCN server repo
  git:
    repo: https://github.com/likecoin/iscn-js.git
    dest: /home/starling/iscn
    version: master
    force: yes

- name: Install dependencies ISCN server npm
  ansible.builtin.shell: npm install
  args:
    chdir: /home/starling/iscn/sample/server

- name: Install ISCN server service
  template:
    src: iscn.service.j2
    dest: /etc/systemd/system/iscn.service

- name: Reload systemd daemon
  systemd:
    daemon_reload: yes
   
- name: Start ISCN service
  ansible.builtin.systemd:
    state: restarted
    enabled: true
    name: iscn
  tags: config

# Integrity Backend
- name: Download integrity-backend server
  git:
    repo: https://github:{{ github_token }}@github.com/starlinglab/integrity-backend.git
    dest: /home/starling/integrity-backend
    force: yes
    version: "{{integrity_backend_repo_branch}}"

- name: Prepeare pipenv for integrity-backend
  ansible.builtin.shell: /usr/bin/su - starling -c 'cd /home/starling/integrity-backend/ && pipenv install'
  args:
    chdir: /home/starling/integrity-backend/

- name: Install integrity-backend config file
  template: 
    src: env.j2
    dest: '/home/starling/integrity-backend/.env'
  tags: config

- name: Update claim tool
  copy:
    src: claim_tool
    dest: /home/starling/claim_tool
    group: starling
    owner: starling    
    mode: 0550

- name: Create claim-tool key folder
  file:
    path: /home/starling/.cai/
    state: directory
    owner: starling
    group: starling
    mode: 0550

- name: Copy Configure claim-tool private key
  copy:
    src: "{{ integrity_cai_signing_key_file }}.pem"
    dest: /home/starling/.cai/temp_key.pem
    group: starling
    owner: starling
    mode: 0550
  tags: config
  when: integrity_cai_signing_key_file is defined  

- name:  Copy Configure claim-tool pub key
  copy:
    src: "{{ integrity_cai_signing_key_file }}.pub"
    dest: /home/starling/.cai/temp_key.pub
    group: starling
    owner: starling
    mode: 0550
  tags: config
  when: integrity_cai_signing_key_file is defined

- name: Copy backend-integrity config file
  copy:
    src: "{{integrity_backend_config}}"
    dest: /home/starling/.integrity/backend-config.json
    owner: starling
    group: starling
    mode: 0666
    force: true
  tags: config
  when: integrity_backend_config is defined

- name: Copy backend-integrity config splaceholder file
  copy:
    src: /home/starling/integrity-backend/config.example.json
    dest: /home/starling/.integrity/backend-config.json
    remote_src: yes
    owner: starling
    group: starling
    mode: 0666
    force: no

- name: Install backend-integrity service file
  copy:
    src: integrity-backend.service
    dest: /etc/systemd/system/integrity-backend.service

- name: Reload backend-integrity service daemon
  systemd:
    daemon_reload: yes
   
- name: Start backend-integrity service
  ansible.builtin.systemd:
    state: restarted
    enabled: true
    name: integrity-backend
  tags: config