version: '3.5'

services:
  authsign:
    image: webrecorder/authsign:0.3.1
    volumes:
      - ./data:/data
      - ./signing.yaml:/app-config/signing.yaml
    environment:
      - CONFIG=/app-config/signing.yaml
    ports:
      - {{ auth_sign.value.port }}:80
      - 127.0.0.1:{{ auth_sign.value.apiport }}:8080
volumes:
  btrix-sign-data: