version: '3.5'

services:
  authsign:
    image: webrecorder/authsign:0.3.1
    volumes:
      - btrix-sign-data:/data
      - ./signing.yaml:/app-config/signing.yaml
    environment:
      - CONFIG=/app-config/signing.yaml
    ports:
      - {{ auth_sign.value.port }}:80
volumes:
  btrix-sign-data: